html{
	background:#000;
	margin:0px;
}
html,body{

	margin:0px;
}
.console{
	color:#96E266;
}
.backgroundimg{
	background-image:url(../res/bg.jpg) ;
	background-repeat:no-repeat;
	background-position: 100% -22%;
	top:0px;
	width: 100%;
    height: 561px;
    position: fixed;
    z-index: -1;
}
.padding{
	     margin: 12%;
		 margin-right:33%;
}
@media screen and (max-width:700px){
	.padding{
		padding: 0px;margin:0px;
	}
}
